
<div class = 'jumbotron center'>
<h1>Welcome to the Tunderdome</h1>
<p>NIce Page</p>
   
   
  <%= link_to "Login", root_path, class: 'btn btn-default' %>
  <%= link_to "Join!", root_path, class: 'btn btn-primary' %> 

</div>