
<div class = 'jumbotron center'>
<h1>Welcome to the Tunderdome</h1>
<p>NIce Page</p>
   
   
  <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
  <%= link_to "Join!", new_user_registration_path, class: 'btn btn-primary' %> 

</div>